code/ADF ARM Template/linkedTemplates/ArmTemplate_0.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "adf-srini-dev"
        },
        "databricks_srini_dev_accessToken": {
            "type": "secureString",
            "metadata": "Secure string for 'accessToken' of 'databricks_srini_dev'"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/databricks_srini_dev')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureDatabricks",
                "typeProperties": {
                    "domain": "https://adb-8694500549028951.11.azuredatabricks.net",
                    "accessToken": {
                        "type": "SecureString",
                        "value": "[parameters('databricks_srini_dev_accessToken')]"
                    },
                    "existingClusterId": "1002-184412-casts144"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/Processing')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Process",
                        "type": "DatabricksNotebook",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "notebookPath": "/Shared/Learn/Process",
                            "baseParameters": {
                                "dataset": {
                                    "value": "@pipeline().parameters.dataset",
                                    "type": "Expression"
                                }
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "databricks_srini_dev",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "CosmosDB",
                        "type": "DatabricksNotebook",
                        "dependsOn": [
                            {
                                "activity": "Process",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "notebookPath": "/Shared/Learn/CosmosDB",
                            "baseParameters": {
                                "dataset": {
                                    "value": "@pipeline().parameters.dataset",
                                    "type": "Expression"
                                }
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "databricks_srini_dev",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "parameters": {
                    "dataset": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "lastPublishTime": "2020-10-02T21:29:24Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/databricks_srini_dev')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Daily')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "BhavCopy",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "Processing",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "dataset": "BhavCopy"
                            }
                        }
                    },
                    {
                        "name": "StudentsPerformance",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "Processing",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "dataset": "StudentsPerformance"
                            }
                        }
                    }
                ],
                "annotations": [],
                "lastPublishTime": "2020-10-02T21:29:24Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/Processing')]"
            ]
        }
    ]
}